# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#Eclipse
.cproject
.project
/.settings

#Build folders
/Debug
/Personaje
/Plataforma
/Nivel
/test

#Log files
*.log
